/.classpath
/.project
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/maven/com.kd.example.angular/AngularUIApp/pom.properties
/target/classes/META-INF/maven/com.kd.example.angular/AngularUIApp/pom.xml
/target/classes/META-INF/maven/com.kd.example.angular/SpringBootAngular/pom.properties
/target/classes/META-INF/maven/com.kd.example.angular/SpringBootAngular/pom.xml
/target/classes/com/kd/example/angular/ui/app/UIApplication.class
/target/classes/com/kd/example/angular/ui/controller/HomeController.class
/target/classes/com/kd/example/angular/ui/controller/LoginController.class
/target/classes/com/kd/example/angular/ui/model/UserInfo.class
/target/classes/public/css/style.css
/target/classes/public/html/login-registration.html
/target/classes/public/index.html
/target/classes/public/js/form.js
/target/classes/public/js/homeController.js
